{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Dulce Enigma — Panadería{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% include 'includes/cabecera.html' %}
  {% include 'includes/menu.html' %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include 'includes/pie.html' %}
</body>
</html>

